<h1>カテゴリー編集</h1>

<%= render 'form', category: @category %>

<div class="mt-3">
  <%= link_to '詳細', @category, class: 'btn btn-info' %>
  <%= link_to 'カテゴリー一覧に戻る', categories_path, class: 'btn btn-secondary' %>
</div>
